
<!-- =========================
   PRE LOADER       
============================== -->
<!-- <div class="preloader">
  <div class="status">&nbsp;</div>
</div> -->
<!-- =========================
   HOME SECTION       
============================== -->
<header id="home" class="header">
	
	<!-- TOP BAR -->
	<div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
		<div class="container">
			<div class="navbar-header responsive-logo">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a href="./" class="navbar-brand">
				<img src="images/logo.png" alt="Foundation">
				</a>
			</div>
			<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
			<ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
				<li><a href="#home">Home</a></li>
				<li><a href="#focus">Services</a></li>
				<li><a href="#works">Works</a></li>
				<li><a href="#aboutus">About Us</a></li>
				<li><a href="#team">Team</a></li>
				<li><a href="#pricingtable">Pricing</a></li>
				<li><a href="#testimonials">Testimonials</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			</nav>
		</div>
	</div>
	<!-- / END TOP BAR -->
	
	<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
	<div class="container">
		
		<!-- HEADING -->
		<h1 class="intro">We Make Service Businesses Better</h1>
		
		<!-- CALL TO ACTION BUTTONS -->
		<div class="buttons">
			<a href="#focus" class="btn btn-primary custom-button red-btn">How?</a>
			<a href="#pricingtable" class="btn btn-primary custom-button green-btn">Plans</a>
		</div>
		
		<!-- 3 SHORT MESSAGE ABOUT COMPANY -->
        <div class="row bottom-message-section">
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon icon-fontawesome-webfont-358"></i> Partner with us!
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-286"></i> Save time and focus on your service!
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-347"></i> More Money + More Time 
				</div>
			</div>
		</div>
	</div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->
	
</header> <!-- / END HOME SECTION  -->

<!-- =========================
   FOCUS SECTION      
============================== -->

<section class="focus" id="focus">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">What We Do</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			We help the small service business run a more professional &amp; efficient business. 	
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- 4 FOCUS BOXES -->
	<div class="row">
		
		<!-- FIRST FOCUS BOXES -->
		<div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon">
				<i class="pixeden pd-icon-tablet"></i> <!-- FOCUS ICON-->
			</div>
			<h5 class="red-border-bottom">Quotes</h5> <!-- FOCUS HEADING -->
			<p> <!-- FOCUS DESCRIPTION -->
				 Stop typing estimates after a long day, and spending countless hours fighting the format and styles.  Instead, call us or email us your content and pricing and we'll whip up the most professional quote you've ever seen.  Oh, and by the way, we'll tell you when the client views it!
			</p>
		</div>
		<!-- / END FIRST FOCUS BOX. Other boxes has same format -->
		
		<div class="col-lg-3 col-sm-3 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon">
				<span class="pixeden pd-icon-money"></span>
			</div>
			<h5 class="green-border-bottom">Invoicing</h5>
			<p>
				 Having a problem getting paid?  Sick of driving around picking up payments, or waiting for the mail to arrive?  Ask us to invoice, and we'll send it, track it, and follow up until you get paid.  It's as easy as picking up the phone.
			</p>
		</div>
		
		<div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon">
				<i class="pixeden pd-icon-email-marketing"></i>
			</div>
			<h5 class="blue-border-bottom">Follow Up</h5>
			<p>
				We know the most difficult part of growing a business is keeping up with all the opportunities and past clients that come in.  Most service businesses stop at one attempt and give up.  We don't. We follow up as needed to help you sell more!
			</p>
		</div>
		
		<div class="col-lg-3 col-sm-3 focus-box yellow wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon">
				<i class="pixeden pd-icon-check"></i>
			</div>
			<h5 class="yellow-border-bottom">Growth</h5>
			<p>
				By taking some of these 'hats' off your head, you can focus on what you love doing. Your're trade! You can also start to invest time into the important yet neglected aspects of the business.  
			</p>
		</div>
	</div>
	<!-- / END 4 FOCUS BOXES -->
	
	<!-- OTHER FOCUSES -->
	<div class="other-focuses">
		<h5><span class="section-footer-title">We're Working on...</span></h5>
	</div>
	
	<!-- OTHER FOCUS LIST -->
	<div class="other-focus-list wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		<ul>
			<li><i class="icon-fontawesome-webfont-8"></i>WEB APPLICATIONS</li>
			<li><i class="icon-fontawesome-webfont-267"></i>LEAD GEN</li>
			<li><i class="icon-fontawesome-webfont-358"></i>Project Management</li>
			<li><i class="icon-fontawesome-webfont-102"></i>IOS APP</li>
		</ul>
	</div> <!-- / END OTHER FOCUS LIST -->
</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->

<!-- =========================
   SEPARATOR ONE      
============================== -->

<section class="separator-one">
<div class="color-overlay">
	<h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	Our clients love us! You can check what they're saying about us. </h3>
	<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		<a href="#testimonials" class="btn btn-primary custom-button green-btn">TESTIMONIALS</a>
	</div>
</div>
</section>  <!-- / END SEPARATOR -->


<!-- =========================
   WORKS SECTION      
============================== -->

<section class="works" id="works">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Examples</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Take a look of what we create from simple email and phone call requests... 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	<div class="row projects">
	<div id="loader">
	    <div class="loader-icon"></div>
	</div>
	<div class="col-md-12" id="portfolio-list">
		<!-- PORTFOLIO ITEMS-->
		<ul class="cbp-rfgrid">
		
        <!-- PROJECT -->	
        <li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="http://quotes.foundation.is/proposal/584680/f6c3ee72533b5765fd621af16ce64ff68856d00e/" class="more"><img src="images/portfolio/1.png"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Example Quote </h5>
					<div class="details white-text">
						from unformatted email
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
        
        <!-- PROJECT -->	
        <li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="http://quotes.foundation.is/proposal/584680/f6c3ee72533b5765fd621af16ce64ff68856d00e/" class="more"><img src="images/portfolio/2.png" alt="project" />
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Example Quote </h5>
					<div class="details white-text">
						from a phone call
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->

        <!-- PROJECT -->	
        <li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="http://invoices.foundation.is/paymentProcessing?invoiceNum=b7f37adeffd45d64bfb8a31ada7383f3" class="more"><img src="images/portfolio/3.png"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Example Invoice </h5>
					<div class="details white-text">
						from text
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
        
		<!-- PROJECT -->	
        <li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="http://invoices.foundation.is/paymentProcessing?invoiceNum=b7f37adeffd45d64bfb8a31ada7383f3" class="more"><img src="images/portfolio/4.png"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Example Invoice </h5>
					<div class="details white-text">
						called in
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
        
        <!-- PROJECT -->	
        <li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.8s" data-wow-delay="0.15s">
        <a href="http://quotes.foundation.is/proposal/584680/f6c3ee72533b5765fd621af16ce64ff68856d00e/" class="more"><img src="images/portfolio/5.png" alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Details Can Sell </h5>
					<div class="details white-text">
						for you!
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
        <!-- PROJECT -->	
        <li>
        <a href="http://quotes.foundation.is/proposal/584680/f6c3ee72533b5765fd621af16ce64ff68856d00e/" class="more"><img src="images/portfolio/6.png" alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Testimonials  </h5>
					<div class="details white-text">
						Make a difference
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
         
         <!-- PROJECT -->	
        <li>
        <a href="http://quotes.foundation.is/proposal/584680/f6c3ee72533b5765fd621af16ce64ff68856d00e/" class="more" ><img src="images/portfolio/7.png"  alt="project"/>
			<div class="project-info" >
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Make the sale easy! </h5>
					<div class="details white-text">
						E-Signatures
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->
		
         <!-- PROJECT -->	
        <li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.8s" data-wow-delay="0.15s">
        <a href="#works" class="more"><img src="images/portfolio/8.png"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Reports/Projections </h5>
					<div class="details white-text">
						Sent to as needed
					</div>
				</div>
			</div>
			</a>
        </li>
        <!-- / PROJECT -->

        <!-- ... -->
		</ul>
	</div>
	<!-- END OF PORTFOLIO ITEMS-->
</div>
	
	<!-- PROJECT DETAILS WILL BE LOADED HERE -->
	<div id="loaded-content"></div>

    <a id="back-button" class="red-btn" href="#"><i class="icon-fontawesome-webfont-27"></i> Go Back</a>
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END WORKS SECTION -->


<!-- =========================
   ABOUT US SECTION   
============================== -->

<section class="about-us" id="aboutus">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">About US</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
				We believe we can raise the bar in the service industry, by helping small businesses think differently. 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- 3 COLUMNS OF ABOUT US-->
	<div class="row">
		
		<!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
		<div class="col-lg-4 col-md-4 column">
			<div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				 Helping businesses since 2012.
			</div>
		</div>
		
		<!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
		<div class="col-lg-8 col-md-8 column">
			<p class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				We believe that the owners, employees, and craftsmen/women in the service industry are the backbone of America. We also believe, that in tough economic times they are hit the hardest. Most of us in the industry are so focused on being the best, that the act of running the business suffers. Sometimes at the end of a big project we crunch all the numbers and wonder, "how did I work so hard and lose money on that job!?" We've tried hiring people, buying expensive software, creating a new file system, organizing and re-organizing while we say "this time will be different". Nothing seems to stick though, because at the end of the day, we are human and running a business while working full time is difficult.<br/><br/>

				Out of frustration we decided that it was time to change that. We set out to create a solution that not only helps run the business but it also helps grow the business. To create a community, where people help each other solve problems and gather/contribute useful content for other contractors as well as the DIYers. A place where someone can find a contractor, manage their project, and track expenses, without worrying about spending hours integrating with other systems. We think by fostering this community, everyone will thrive...because all ships rise with the incoming tide!<br/><br/>
				
				We are making an impact. A big impact. One company at a time. 
			</p>
		</div>
		

	</div> <!-- / END 3 COLUMNS OF ABOUT US-->

	<!-- CLIENTS -->
	<div class="our-clients">
		<h5><span class="section-footer-title">OUR HAPPY CLIENTS</span></h5>
	</div>
	<!-- CLIENT LIST -->
	<div class="client-list">
		<ul class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<li><a href="#"><img src="images/clients/1.jpg" alt="Client 1"></a></li>
			<li><a href="#"><img src="images/clients/2.png" alt="Client 2"></a></li>
			<li><a href="#"><img src="images/clients/3.png" alt="Client 3"></a></li>
			<li><a href="#"><img src="images/clients/1.png" alt="Client 1"></a></li>
			<li><a href="#"><img src="images/clients/4.png" alt="Client 4"></a></li>
			<li><a href="#"><img src="images/clients/5.jpg" alt="Client 5"></a></li>
			<li><a href="#"><img src="images/clients/6.png" alt="Client 6"></a></li>
		</ul>
	</div> <!-- / END CLIENT LIST -->
</div> <!-- / END CONTAINER -->

</section> <!-- END ABOUT US SECTION -->

<!-- =========================
   STATS              
============================== -->

<section class="stats">
	<div class="container">
	    <!-- STATS -->
	    <div class="row">
	        
	        <!-- START COLUMN -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	                <div class="icon-top red-text">
	                    <i class="icon-design-graphic-tablet-streamline-tablet"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text red-border-bottom">743</h3>
	                <h6>Projects Completed</h6>
	                </div>
	            </div>
	        </div> <!-- / END COLUMN -->
	        
	        <!-- START COLUMN -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.75s" data-wow-delay="0.30s">
	                <div class="icon-top green-text">
	                    <i class="icon-man-people-streamline-user"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text green-border-bottom">11</h3>
	                <h6>Happy Clients</h6>
	                </div>
	            </div>
	        </div> <!-- / END COLUMN -->
	        
	        <!-- START COLUMN -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.45s">
	                <div class="icon-top blue-text">
	                    <i class="icon-email-mail-streamline"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text blue-border-bottom">10,000+</h3>
	                <h6>Follow Ups</h6>
	                </div>
	            </div>
	        </div> <!-- / END COLUMN -->
	        
	        <!-- START COLUMN -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="2.25s" data-wow-delay="1s">
	                <div class="icon-top yellow-text">
	                    <i class="icon-receipt-shopping-streamline"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text yellow-border-bottom">2,635,398</h3>
	                <h6>Dollars Managed</h6>
	                </div>
	            </div>
	        </div> <!-- / END COLUMN -->
	    </div>
</div>
</section>  <!-- / END STATS -->

<!-- =========================
   OUR TEAM SECTION   
============================== -->

<section class="our-team" id="team">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Our Team</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Check our awesome team memebers who always work hard to provide quality services. 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- TEAM MEMBERS -->
	<div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">
		<!-- MEMBER -->
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="images/team/pic1.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Jon Hill</h5>
					<div class="position">
						Founder
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Jon is jack of all trades when it comes to process, technology, and operations.  He loves being challenged with new problems and coming up with cool solutions. 
					</p>
				</div>
			</div>
		</div>
		<!-- / END MEMBER -->
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic2.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text green-border-bottom">Ethan Wirt</h5>
					<div class="position">
						Founder
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Ethan is a presence, that can inspire anyone around him.  He built a successful paint contracting business right out of college, and leverages that experience to help innovate yet still relate to the REAL problems!
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic3.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">CJ Rosati</h5>
					<div class="position">
						Duct Tape
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						When it comes right down to it, CJ holds things together.  He doesn't just say, "yes," he says, "yes, and I will do it better that".  From quotes, to invoices, to templates, and more...he makes the world go round. 
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic4.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text yellow-border-bottom">Emily Martin</h5>
					<div class="position">
						Back-Ops Guru
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						From her sweet calm voice to her raw genuine passion of helping people, Emily can do it all.  It doesn't hurt that she's kind of a work-a-holic.  Just keep it interesting!
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic5.png" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Logan Taylor</h5>
					<div class="position">
						Account Manager
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						He's somewhat of a genius, but hides behind devilish good looks and a swing like Rory McIlroy.  But really, he just works really hard to help you grow in ways beyond the surface. 
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic6.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text green-border-bottom">Millie McCall</h5>
					<div class="position">
						Phonagraphic Master
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Ok, so we kinda made up her title, but no one is better on the phones than Millie.  She has brought in business from the deepest darkest troves of forgotten clients.  Every business needs a Millie, so you're lucky she comes with us!
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic7.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">New Richmond Ventures</h5>
					<div class="position">
						Investors and Advisors
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						We wouldn't exist without such an amazing group behind us.  Not only do they believe in us, but they share our same core values and genuine desire to help people.  
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic8.png" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text yellow-border-bottom">Lighthouse Labs</h5>
					<div class="position">
						Mentors and Cohorts
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						The best accelerator this side of the Mississippi! Still not sure how we got so lucky to be a part of such a great group.  The mentors are amazing and the companies we're surrounded by are inspiring.  
					</p>
				</div>
			</div>
		</div>
	</div> <!-- / END TEAM MEMBER LIST -->
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->

<!-- =========================
   PACKAGES SECTION   
============================== -->

<section class="packages" id="pricingtable">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Packages</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			We have 3 options to fit the variety of stages that exist. 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- PACKAGES -->
	<div class="row">
		
		<!-- FIRST PACKAGE -->
		<div class="col-lg-4 col-sm-4">
			<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="package-header green-bg">
					<h5>Starter</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
					<h4><span class="dollar-sign">$</span>42</h4><span class="price-meta">
					    / mo
					</span>
					</div>
				</div>
				<ul>
					<li><i class="icon-check"></i>Hosted Profile</li>
					<li><i class="icon-check"></i>Ulimited Invoices</li>
					<li><i class="icon-cancel"></i>A-la-carte Quotes</li>
					<li><i class="icon-cancel"></i>Follow Up</li>
					<li><i class="icon-cancel"></i>Reports/Suggestions</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button green-btn">
				Sign Up </a>
			</div>
		</div> <!-- / END FIRST PACKAGE -->

		<div class="col-lg-4 col-sm-4">
			<div class="best-value">
				<div class="package wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
					<div class="package-header red-bg">
						<h4>Partner</h4>
						<div class="meta-text">
							Best Value
						</div>
					</div>
					<div class="price dark-bg">
						<h4>3<span class="dollar-sign">%</span></h4>
						<span class="price-meta">/ 7%</span>
					</div>
					<ul>
						<li><i class="icon-check"></i>Hosted Profile</li>
						<li><i class="icon-check"></i>Unlimited Invoices</li>
						<li><i class="icon-check"></i>Unlimited Quotes</li>
						<li><i class="icon-check"></i>Follow Up</li>
						<li><i class="icon-check"></i>Reports/Suggestions</li>
					</ul>
					<a href="#" class="btn btn-primary custom-button red-btn">
				Sign Up </a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-4 col-sm-4">
			<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="package-header blue-bg">
					<h5>Professional</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
					<h4><span class="dollar-sign">$</span>500 </h4>
					<span class="price-meta">/ Mo</span>
					</div>
				</div>
				<ul>
					<li><i class="icon-check"></i>Hosted Profile</li>
					<li><i class="icon-check"></i>Unlimited Invoices</li>
					<li><i class="icon-check"></i>50 Quotes</li>
					<li><i class="icon-cancel"></i>Follow Up</li>
					<li><i class="icon-cancel"></i>Reports/Suggestions</li>
				</ul>
				<a href="#" class="btn btn-primary custom-button blue-btn">
				Sign Up </a>
			</div>
		</div>
		
		
	</div> <!-- / END PACKAGES -->
	
</div> <!--END CONTAINER  -->
</section> <!-- END PACKAGES SECTION -->



<!-- =========================
   NEWSETTER          
============================== -->

<!-- <section class="newsletter">
<div class="container">
	<h3 class="white-text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">Stay in touch</h3> -->

	 <!-- NEWSLETTER SECTION HEADING -->
	<!-- <div class="sub-heading white-text wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		 Sign Up for Email Updates on on News &amp; Offers
	</div>  -->
	
	<!-- SUBSCRIPTION FORM -->
	<!-- <form action="#" class="subscription wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" role="form">
		<input type="email" placeholder="Enter email" class="form-control input-box">
		<button class="btn btn-primary custom-button red-btn">Sign Up</button>
	</form> -->
	<!-- / END SUBSCRIPTION FORM -->
	
<!-- </div>  --><!-- / END CONTAINER -->
</section> <!-- / END NEWSLETTER SECTION -->

<!-- =========================
   TESTIMONIAL        
============================== -->

<section class="testimonial" id="testimonials">
<div class="container">
	  
	  <!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Testimonials</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Check what our awesome happy clients saying about us. 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- CLIENT FEEDBACKS -->
	<div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		<div class="col-md-12">
			<div id="client-feedbacks" class="owl-carousel owl-theme">
				
				<!-- SINGLE FEEDBACK BOX-->
				<div class="feedback-box">
					
					<!-- MESSAGE OF THE CLIENT -->
					<div class="message">
						 “For the first time since starting this business 25 years ago, I feel like I'm not alone.  I feel like a rock-star with an agent sometimes. When I need something done, I call 'my office', or better yet when a client needs something...'my office' will contact them! ”
					</div>
					
					<!-- CLIENT INFORMATION -->
					<div class="client">
						<div class="quote red-text">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="client-info">
							<a class="client-name" href="">John Young</a> 
							<div class="client-company">
								 Owner, New Projet
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="images/clients-pic/1.jpg" alt="">
						</div>
					</div> <!-- / END CLIENT INFORMATION-->
				</div> <!-- / END SINGLE FEEDBACK BOX-->
				
				<div class="feedback-box">
					<div class="message">
						 “The second week with Foundation I was able to play golf for the first time in years!  I honestly don't quite know what to do with all my free time...I guess start making more money?!”
					</div>
					<div class="client">
						<div class="quote green-text">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="client-info">
							<a class="client-name" href="">Josh Goff</a>
							<div class="client-company">
								 Owner, Commonwealth Curb Appeal
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="images/clients-pic/2.jpg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 “Foundation is our virtual office. They help us with our daily roles in order to maximize our potential.  We really don't know where we'd be without them, and are excited to grow and learn with them as a part of our team.”
					</div>
					<div class="client">
						<div class="quote blue-text">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="client-info">
							<a class="client-name" href="">Ermin Selimovic</a>
							<div class="client-company">
								 Owner, Future One Painting
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="images/clients-pic/3.jpg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 “Working with Foundation SAVES ME AT LEAST 10 HOURS A WEEK. My proposals are much more professional and get out to customers much faster. It is easy for customers to accept them. I save so much time tracking my sales through the IPHONE APP. CJ has been awesome if you have a question or need something done, and Millie has helped me stay on top of my open quotes - there's always a person there right away to talk to if I need anything.”
					</div>
					<div class="client">
						<div class="quote red-text">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="client-info">
							<a class="client-name" href="">Bill Ferst</a>
							<div class="client-company">
								 Owner, First Place Paint
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="images/clients-pic/2.jpg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 “Well, the bad news is my gross receipts is going to be higher in 2014... but the good news is THAT MY GROSS RECEIPTS TAX IS GOING TO BE HIGHER IN 2014!!!”
					</div>
					<div class="client">
						<div class="quote green-text">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="client-info">
							<a class="client-name" href="">David Clark</a>
							<div class="client-company">
								 Owner, Richmond Rebuilders
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="images/clients-pic/3.jpg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 “I've been doing this for 30 years, and I'll be honest, I was skeptical at first when my boss wanted me to start working with Foundation. Now I don't know what I would do without them.”
					</div>
					<div class="client">
						<div class="quote blue-text">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="client-info">
							<a class="client-name" href="">Ronnie Evans</a>
							<div class="client-company">
								 VP Sales, 89-Paint
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="images/clients-pic/1.jpg" alt="">
						</div>
					</div>
				</div>
				
			</div> <!-- / END FEEDBACKS-->
		</div> <!-- / END COLUMN -->
	</div> <!-- / END ROW -->
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END TESTIMONIAL SECTION -->



<!-- =========================
   CONTACT US         
============================== -->

<section class="contact-us" id="contact">
<div class="container">
	
	<!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Get in touch</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Have any question? Drop us a message. We will get back to you in 24 hours.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- CONTACT FORM-->
	<!-- <div class="row">
		<form role="form" action="mailto:support@foundation.is" method = "post" class="contact-form" enctype="text/plain">
			<div class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="name" placeholder="Your Name" class="form-control input-box">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="email" name="email" placeholder="Your Email" class="form-control input-box">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="subject" placeholder="Subject" class="form-control input-box">
			</div>
			</div>
			
			<div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<textarea name="message" class="form-control textarea-box" placeholder="Your Message"></textarea>
			</div>
			<button class="btn btn-primary custom-button red-btn wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit">Send Message</button>
		</form>
	</div> -->
	<!-- / END CONTACT FORM-->
</div> <!-- / END CONTAINER -->
</section> <!-- / END CONTACT US SECTION-->

<!-- =========================
   FOOTER             
============================== -->

<footer>
<div class="container">
	
	<!-- COMPANY ADDRESS-->
	<div class="col-md-5 company-details">
		<div class="icon-top red-text">
		    <i class="icon-fontawesome-webfont-302"></i>
		</div>
		2930 W. Broad St, Richmond, VA 23230
	</div>
	
	<!-- COMPANY EMAIL-->
	<div class="col-md-2 company-details">
		<div class="icon-top green-text">
		<i class="icon-fontawesome-webfont-329"></i>
		</div>
		 support@foundation.is
	</div>
	
	<!-- COMPANY PHONE NUMBER -->
	<div class="col-md-2 company-details">
		<div class="icon-top blue-text">
		<i class="icon-fontawesome-webfont-101"></i>
		</div>
		804-616-3585
	</div>
	
	<!-- SOCIAL ICON AND COPYRIGHT -->
	<div class="col-lg-3 col-sm-3 copyright">
		<ul class="social">
			<li><a href=""><i class="icon-facebook"></i></a></li>
			<li><a href=""><i class="icon-twitter-alt"></i></a></li>
			<li><a href=""><i class="icon-linkedin"></i></a></li>
			<li><a href=""><i class="icon-behance"></i></a></li>
			<li><a href=""><i class="icon-dribbble"></i></a></li>
		</ul>
		 ©2012 Hourwise LLC
	</div>
</div> <!-- / END CONTAINER -->
